// Variables

:root {
  --accent-300: #d6a7be;
  --accent-400: #bf8ba4;
  --accent-500: #ad7691;
  --accent-600: #936079;
  --primary-100: #d8e3f1;
  --primary-200: #c5d4e5;
  --primary-300: #a3b9d1;
  --primary-600: #4d7691;
}

// Reset

input {
  font: inherit;
  accent-color: var(--accent-500);
}

// Utils

.no-flex {
  flex: 0 0 auto;
}
.mt-2 {
  margin-top: 0.5rem;
}

// Layout

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  text-align: center;
}

main {
  width: min(100% - 2rem, 60rem);
  margin-inline: auto;
}

form {
  display: flex;
  gap: 1em;
  align-items: center;
  margin-bottom: 2em;
}

h1 {
  font-weight: normal;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 0.5em;
}

h2 {
  font-weight: normal;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 0.5em;
  color: var(--primary-600);
}

.usage {
  flex: 1 1 auto;
  padding: 1em;
  background-color: var(--primary-200);
  color: #444;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
}

.inline-input {
  font: inherit;
  background-color: var(--accent-500);
  color: white;
  padding: 3px;
  border: none;
  border-radius: 4px;

  &[type='number'] {
    text-align: right;
  }

  &.input-size-3 {
    width: 3em;
  }
}

.checkbox-list {
  display: flex;
  gap: 1em;
  label {
    display: flex;
    gap: 0.3em;
    input[type='checkbox'] {
      width: 1em;
      height: 1em;
    }
  }
}

label {
  text-align: right;
}

.input-result {
  background-color: var(--primary-100);
  border: none;
  padding: 0.5em;
  margin-block-start: 1em;
  border-radius: 0.5em;
}

.code {
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  color: #555;
  padding: 0.5em 1em;
  margin-top: 1em;
  border: 0;
  border-radius: 0.5em;
  font-family: 'Courier New', Courier, monospace;
  font-size: inherit;
  white-space: pre;
}

.btn-go {
  cursor: pointer;
  padding: 0.5em;
  background-color: var(--accent-500);
  color: white;
  border: 0;
  font-size: 1.5em;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  outline: none;

  &:hover,
  &:focus-visible {
    background-color: var(--accent-600);
  }
  &:active {
    background-color: var(--accent-400);
  }
}
