// Reset

input {
  font: inherit;
}

// Utils

.no-flex {
  flex: 0 0 auto;
}

// Layout

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  text-align: center;
}

main {
  width: min(100% - 2rem, 60rem);
  margin-inline: auto;
}

form {
  display: flex;
  gap: 1em;
  align-items: center;
  margin-bottom: 2em;
}

h1 {
  font-weight: normal;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 0.5em;
}

h2 {
  font-weight: normal;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 0.5em;
  color: rgb(52, 78, 116);
}

.usage {
  flex: 1 1 auto;
  padding: 1em;
  background-color: #d8e9ee;
  color: #444;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
}

.inline-input {
  font: inherit;
  background-color: #b3c9d7;
  padding: 3px;
  border: none;
  border-radius: 4px;

  &[type='number'] {
    text-align: right;
  }

  &.input-size-3 {
    width: 3em;
  }
}

/*
input[name='result'] {
  padding: 0.5em;
  background-color: #ddd;
  border: 0;
  font-size: 1.5em;
  width: 5em;
}
*/

label {
  text-align: right;
}

.input-result {
  background-color: #fff9;
  border: none;
  padding: 0.5em;
  margin-block-start: 1em;
  border-radius: 0.5em;
}

textarea[name='code'] {
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  color: #555;
  padding: 0.5em 1em;
  margin-top: 1em;
  border: 0;
  border-radius: 0.5em;
  font-family: 'Courier New', Courier, monospace;
  font-size: inherit;
  white-space: pre;
}

.btn-go {
  cursor: pointer;
  padding: 0.5em;
  background-color: #4d7691;
  color: white;
  border: 0;
  font-size: 1.5em;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  outline: none;

  &:hover,
  &:focus-visible {
    background-color: #6288a1;
  }
  &:active {
    background-color: #7ca0b8;
  }
}
